<div class="user_story ui-widget-content" style="background: user_story.color">
  <table>
		<tr><th><Header><%= user_story.title %></th></tr>
		<tr><td><%= user_story.description %></td></tr>
	</table>
</div>
