<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">leano</a>
      <ul class="nav">
        <% if current_user != nil %>
          <!-- Projects -->
          <li class="active">
            <a href="<%= projects_path %>">Projects</a>
          </li>
          <!-- End Projects -->
          <!-- User menu -->
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="<%= logout_path %>">Logout</a></li>
            </ul>
          </li>
        <% end %>
        <!-- End User menu -->
      </ul>
    </div>
  </div>
</div>
